

#sendBtn {
    padding: 10px 20px;
    background: #3457d1;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
}

#serverStatus {
    font-size: 12px;
    text-align: center;
    padding: 5px;
    background: #09112b;
    color: #8ba8ff;
}
